<div id="comments">
  <h3><%= t('comments.title') %></h3>
  <%= form_for :comment do |c| %>
    <div class='row'>
      <p class='span2'><%= c.text_field :author, :placeholder => t('comments.name') %></p>
    </div>
    <div class='row'>
      <p class='span2'><%= c.text_field :email, :placeholder => t('comments.email') %></p>
    </div>
    <div class='row'>
      <p class='span4'><%= c.text_area :text, :placeholder => t('comments.text') %></p>
    </div>
    <div class='row'>
      <div class='span1'><%= c.submit t('button.submit'), :id => 'add-comment', :class => 'btn btn-primary' %></div>
    </div>
  <% end %>

  <div class='container' id='list_of_comments'>
    <% @comments.each do |comment| %>
      <div class='row'>
        <div class='span3 comment-holder'>
          <span class='comment-header'>
            <p class='posted-author'><%= comment.author %></p>
            <p class='posted-time'><%= comment.created_at.to_s(:short) %></p>
          </span>
          <span class='posted-content'>
            <p><%= comment.text %></p>
          </span>
        </div>
      </div>
      <br/>
    <% end %>
  </div>

</div>