
  <div id="search-section" class="span12 offset3 row-fluid">
    <%= form_for :verb, :url => {:action => "show"}, :method => :get, :html => { :class => "form-search"} do |v| %>
      <div class="input-append">
        <%= v.hidden_field :id %>
        <%= v.text_field :name, :placeholder => t("intro.type_verb"), :class => "search-query" %>
        <%= v.submit t("intro.search"), :name => nil, :id => "search-btn", :class => "btn btn-success" %>
      </div>
    <% end %>
  </div>


<div id="add_missing_verb" class="row-fluid">
  <div class="span12 offset4">
    <p class="text-info"><%= t("intro.verb_not_present")%><%=link_to t("intro.add_verb_action"), new_verb_path, :class => "btn btn-link" %></p>
  </div>
</div>