<div class="navbar">
  <div class="nav-pills">
    <%= render "/shared/helper_link" %>
    <ul id="language-nav" class="nav pull-right">
      <li><%=link_to "English", :controller => 'application', :action => 'set_user_lang', :locale => 'en' if I18n.locale != :en%></li>
      <li><%= link_to "Español",:controller => 'application', :action => 'set_user_lang', :locale => 'es' if I18n.locale != :es %></li>
      <li><%=link_to "Русский", :controller => 'application', :action => 'set_user_lang', :locale => 'ru' if I18n.locale != :ru %></li>
    </ul>
  </div>
</div>

<h1><%= t('intro.welcome') %></h1>

<div class='span2 offset3 pull-right'>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <!-- <input type="hidden" name="encrypted" value="    "> -->
    <%= hidden_field_tag :encrypted, YAML.load_file("config/settings/paypal.yml")[:production]["ecrypted_key"] %>
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>

<div class='row' id="main_page_inner_container">
  <div class='span3' id="verb-search">
    <%= form_for :verb, :url => {:action => "show"}, :method => :get, :html => {:class => "form-search"} do |v| %>
      <div class="input-append">
        <%= v.hidden_field :id %>
        <%= v.text_field :name, :placeholder => t("intro.type_verb"), :class => "search-query" %>
        <%= v.submit t("intro.search"), :name => nil, :class => "btn btn-success" %>
      </div>
    <% end %>
  </div>
  <!-- <div id="fb-root"></div>
  <div class="fb-like offset1" data-send="true" data-layout="box_count" data-width="450" data-show-faces="true" data-action="like" data-font="trebuchet ms" href="http://usermanager.heroku.com/"></div> -->
  <div class='span1 offset1'>
      <iframe class='fb-like-btn' src="https://www.facebook.com/plugins/like.php?href=http://lit-ocean-7187.herokuapp.com/games" scrolling="no" frameborder="0" style="border:none; width:450px; height:80px">
      </iframe>
  </div>


</div>
<div class='row'>
    <p class="span5 text-info"><%= t("intro.verb_not_present")%><%=link_to t("intro.add_verb_action"), new_verb_path, :class => "btn btn-link" %></p>
</div>
<br/>

<div id="comments">
  <h3><%= t('comments.title') %></h3>
  <%= form_for :comment do |c| %>
    <div class='row'>
      <p class='span2'><%= c.text_field :author, :placeholder => t('comments.name') %></p>
    </div>
    <div class='row'>
      <p class='span2'><%= c.text_field :email, :placeholder => t('comments.email') %></p>
    </div>
    <div class='row'>
      <p class='span4'><%= c.text_area :text, :placeholder => t('comments.text') %></p>
    </div>
    <div class='row'>
      <div class='span1'><%= c.submit t('button.text.submit'), :id => 'add-comment', :class => 'btn btn-primary' %></div>
    </div>
  <% end %>

  <div class='container' id='list_of_comments'>
    <% Comment.ordered.each do |c| %>
      <div class='row'>
        <div class='span3 comment-holder'>
          <div class='comment-header'>
            <span class='posted-author'><%= c.author %></span>
            <span class='posted-time'><%= c.created_at.to_s(:short) %></span>
          </div>
          <span class='posted-content'><%= c.text %></span>
        </div>
      </div>
      <br/>
    <% end %>
  </div>

</div>
<!--
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 -->



