<div class="navbar">
  <div class="nav-pills">
    <%= render "/shared/helper_link" %>
    <ul class="nav">
      <li><%= link_to "Comments", comments_path %></li>
    </ul>
    <ul id="language-nav" class="nav pull-right">
      <li><%=link_to "English", :controller => 'application', :action => 'set_user_lang', :locale => 'en' if I18n.locale != :en%></li>
      <li><%= link_to "Español",:controller => 'application', :action => 'set_user_lang', :locale => 'es' if I18n.locale != :es %></li>
      <li><%=link_to "Русский", :controller => 'application', :action => 'set_user_lang', :locale => 'ru' if I18n.locale != :ru %></li>
    </ul>
  </div>
</div>

<%= render :partial => "shared/_search_verb" %>

<div id="fb-api" class="row">
  <div class='span2 offset5'>
    <iframe class='fb-like-btn' src="https://www.facebook.com/plugins/like.php?href=http://lit-ocean-7187.herokuapp.com/games" scrolling="no" frameborder="0" style="border:none; width:450px; height:80px">
    </iframe>
  </div>
</div>

<div id="paypal-api"class="row-fluid">
  <div class='span2 offset'>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">

    <%= hidden_field_tag :encrypted, YAML.load_file("config/settings/paypal.yml")[:production]["ecrypted_key"] %>
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</div>

