<%@page_title = "New verb"%>

<div class="navbar">
  <div class="nav-pills">
    <%= render "/shared/helper_link" %>
    <ul class="nav pull-right">
      <li><%= link_to t("navigation.back"), verbs_path %></li>
    </ul>
  </div>
</div>

<div id="new_verb_form" class="row span12">
  <%=form_for :hebrew_verb, :url => {:action => 'create'} do |heb_verb|%>
    <div class="row">
      <p class="lead span2 pull-right"><b>שורש</b></p>
        <div>

            <%= heb_verb.select :root_1, options_from_collection_for_select(@letters, :id, :name),
                                     {}, :class => "span1 pull-right btn bnt-small" %>


            <%= heb_verb.select :root_2, options_from_collection_for_select(@letters, :id, :name),
                                     {}, :class => "span1 pull-right btn bnt-small" %></li>

            <%= heb_verb.select :root_3, options_from_collection_for_select(@letters, :id, :name),
                                     {}, :class => "span1 pull-right btn btn-small" %>

          <div class="verb-fourth-root">
            <%= hidden_field_tag :hidden_root_4, value: "delete" %>
            <%= heb_verb.select :root_4, options_from_collection_for_select(@letters, :id, :name), {},
              :class => "span1 pull-right btn btn-small" %>
              <span class="small-top-btn-delete pull-right"></span>
          </div>
        </div>

    </div>

    <div class="row">
      <p class="lead span2 pull-right"><b>בניין</b></p>
      <%= heb_verb.select :building_id,
                    options_from_collection_for_select(@buildings, :id ,:name), {},
                    {:class => "span2 pull-right btn btn-large"} %>
    </div>

    <div class="row">
      <p class="lead span2 pull-right"><b>תירגום</b></p>
      <p class="span2 pull-right"><%= heb_verb.text_field :english, :placeholder => "English", :class => "span2 offset1" %></p>
    </div>
    <div class="row">
      <p class="lead span2 pull-right"></p>
      <p class="span2 pull-right"><%= heb_verb.text_field :russian, :placeholder => "Русский", :class => "span2 offset1" %></p>
    </div>
    <div class="row">
      <p class="lead span2 pull-right"></p>
      <p class="span2 pull-right"><%= heb_verb.text_field :spanish, :placeholder => "Español", :class => "span2 offset1"%></p>
    </div>


    <div class="row">
      <div class="span5 offset2"><%= heb_verb.submit t("button.submit"), :class => "span2 pull-right btn btn-success submit" %></div>
    </div>

  <%end%>
</div>


