<!DOCTYPE html>
<html>
<head>
  <title>Pealim <%= @page_title ? " | #{@page_title}" : ""%></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=7">
  <meta property="og:title" content="Pealim" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://lit-ocean-7187.herokuapp.com/games" />
  <meta property="og:image" content="<%= image_path('/assets/pealim-logo.png')%>" />
  <meta property="og:site_name" content="pealim" />
  <meta property="fb:admins" content="539654413" />
  <meta id="current_locale" content=<%= get_locale_name(I18n.locale) %>>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="container">

    <%= yield %>


  </div>



</body>
</html>
